/*
 *   Color skin GREEN
 *   ================
 **/

#main         {	background-image: url(../images/green/bg-header-repeat.png); }
#header       { background-image: url(../images/green/bg-header.png); }

.box .headlines { background-image: url(../images/green/bg-headlines.gif); }
.box .headlines h2 { background-image: url(../images/green/bg-bookmark.gif); }
.box .headlines h2 span { background-image: url(../images/green/bg-bookmark.gif); }

.box .bookmarks { background-image: url(../images/green/bg-headlines.gif); }
.box .bookmarks li.ui-state-active   { background-image: url(../images/green/bg-bookmark.gif); }
.box .bookmarks li.ui-state-active a { background-image: url(../images/green/bg-bookmark.gif); }

.formBox .button,
.btn-default { background: url(../images/green/bg-button.gif); }

a { color: #1FA049; }
.pagination ul li.active a  { color: #1FA049 !important; }

table.jCalendar th,
div.dp-popup h2,
table.jCalendar td.selected:hover,
table.jCalendar td:hover,table.jCalendar td.dp-hover { color: #1FA049 !important; }

table.jCalendar td.selected { background: #1FA049; }
table.jCalendar td.today { background-color: #E4FFD4; }